<app-header></app-header>
<div class="info">
    <div class="header">
        <div class="name">Deck Name</div>
        <div class="visit">{{deckViewed}}</div>
    </div>
    <div class="header">
        <div class="name">Date Viewed</div>
        <div class="date">{{dateOfDeckViewed}}</div>
    </div>
    <div class="buttonBlock">
        <button (click)="startTimer()" [disabled]="isOpened ? true : false">Open Deck</button>
        <button (click)="stopTimer()" [disabled]="isOpened ? false : true">Close Deck</button>
    </div> 
</div>
